
@{
    ViewBag.Title = "ResetPasswordForm";
}

<h2>ResetPasswordForm</h2>


@using (Html.BeginForm("Search", "YOUR CONTROLLER", FormMethod.Post))
{
 
    <p>@Html.TextBox("Enter username:")</p>
  
} 
@Html.DisplayText("Enter your username:")
