@{
    ViewBag.Title = "About";
}

<h1>About</h1>

<h2>Client details</h2>

<p>Job Title: Professor</p>
<p>Faculty: Faculty of Computer Science</p>
<p>Department: School of Computer Science</p>
<p>Location: David Goldman St Peter's</p>
<p>Contact Details</p>
<p>Telephone:+44(0) 191 515 2053</p>
<a href="mailto:Alistair.Irons@Sunderland.ac.uk?">Send am email</a>
<hr />

<h2>Developer details</h2>
<p>Job Title: Student</p>
<p>Faculty: Faculty of Computer Science</p>
<p>Department: School of Computer Science</p>
<p>Location: David Goldman St Peter's</p>
<p>Contact Details</p>
<p>Telephone: N/A</p>
<a href="mailto:bg54ye@student.sunderldand.ac.uk?">Send an email</a>
